.latest-works {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(2, 1fr);
}

.latest-works__item-one {
  grid-row: span 2;
}

.latest-works__menu {
  display: flex;
  gap: 38px;
}

.latest-works__menu-item {
}

.latest-works__menu-link {
  font-size: 13px;
  color: #b3b3b3;
  &.active {
    color: black;
  }
  &:hover {
    color: var(--color-green);
  }
}

.latest-works__block {
  grid-row: span 4;
  position: relative;
  height: 555px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.latest-works__btn {
  display: block;
}

.latest-works__block__title {
  position: absolute;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 48px;
  color: var(--color-black);
  max-width: 402px;
  text-transform: uppercase;
  left: 0;
  bottom: 150px;
  &.left {
    left: auto;
    right: 0;
  }
}

.latest-works__block__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  gap: 24px;
  top: 0;
  right: 0;
  z-index: -20;
  &.left {
    right: auto;
    left: 0;
    align-items: flex-start;
  }
}

.latest-works__block__img {
  width: 455px;
  height: 444px;
  transition: all 0.5s ease;
  filter: opacity(0.35);
}

.latest-works__block:hover .latest-works__block__img {
  transform: scale(1.05);
  filter: opacity(1);
}

.latest-works__block-text {
  font-size: 13px;
  color: var(--color-gray);
  padding: 0 128px;
  line-height: 1.77;
  & > h5 {
    font-size: 18px;
    font-weight: 300;
    color: var(--color-black);
  }
  &.right {
    text-align: end;
  }
}

.latest-works__block:hover .latest-works__block__title,
.latest-works__block:hover .latest-works__block-text,
.latest-works__block:hover .latest-works__block-text > h5 {
  color: var(--color-green);
}

/* ===== */

.latest-works__item-last {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 60px;
}

.latest-works__btn-link {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  &:hover {
    color: var(--color-green);
  }
}
