.services {
  padding: 135px 0;
}

.services__blocks {
  display: flex;
  gap: 28px;
}

.services__block {
  padding: 53px 46px 35px;
  &.active {
    box-shadow: 0 3px 0 0 #70bf73;
    & .services-block__link {
      color: black;
    }
  }
}

.services-block__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 36px;
}

.services-block__title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    top: 45px;
    left: 0;
    background-color: black;
  }
}

.services-block__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffff;
  box-shadow: 0 0 20px #bfb9b9;
}

.services-block__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: #777777;
  height: 95px;
}
.services-block__btn {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.services-block__link {
  color: rgb(0, 0, 0, 0.5);
}
