body {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
}

.container {
  max-width: 1182px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.48;
  position: relative;
  margin-bottom: 85px;
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    top: 78px;
    left: 0;
    background-color: black;
  }
}
